<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>All Projects View</title>
</head>
<body>
    <a href="">Back</a>
    <hr>
    <div class="content">
        <h2>Here are all the projects found ({{ count }})</h2>
        <br>
        <table>
            <thead>
                <td>Project Code</td>
                <td>Project Name</td>
                <td>Project Responsible</td>
                <td>Project Type</td>
                <td>Active?</td>
            </thead>
            {% for project in projects %}
            <tr>
                <td>{{ project.code }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.responsible }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.active }}</td>
            </tr>
            {% endfor %}
        </table>
    </div> <!-- content -->
</body>
</html>
