<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .user {
            padding: 10px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Hello World!</h1>
    <p>this is a HTML template</p>
    <a href="{% url 'projectResponsibles:responsible-create' %}">Add a new project responsible</a>
    <br>
    <p>here are all the people</p>

    {% for responsible in project_responsibles %}
        <div class="user">
            <a href="/projects/responsibles/{{ responsible.id }}">{{responsible.full_name}}</a> {{responsible.email}}
        </div>
    {% endfor %}

</body>
</html>
