<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Detailed View</h2>
    <h2>Here are the details for record {{ responsible.id }}</h2>
    {{ responsible.full_name }} : {{ responsible.email }}
    <br><hr>
    <div>
        <a href="/projects/responsibles/">Back to the list</a> |
        <a href="/projects/responsibles/{{ responsible.id }}/update/">Update this record</a> | 
        <a href="/projects/responsibles/{{ responsible.id }}/delete/">Delete this record</a>
    </div>
</body>
</html>
